body, html {
    height: 100%;
}

.excludeImage{
    /* background-color: #a79bcb; */
    border-radius: 10px;
    /* display:block; /* need this to allow the "span" element to consist of block elements; more details here: 
                    https://stackoverflow.com/questions/2789727/is-p-a-block-level-or-inline-level-element#*/
}

.rounded{
    border-radius: 15px;
}

.roundTop{
    border-radius: 15px 15px 0px 0px;
}

.roundBottom{
    border-radius: 0px 0px 15px 15px;
}

.verticalAlign{
    display: inline-block;
    vertical-align: middle;
    float: none;
}


body {
/* background-image: url("bb.jpg"); */
/* background-repeat: no-repeat; */
background-color: black;
/* font-family:  serif; */
/* color:white; */
}


/* #projectMotivation{ */
    /* color: purple; */
    /* color:#808000; */
    /* color: #e5f1fd; */
    /* text-align: center; */
    /* font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif; */
    /* font-size: 5em; */
/* } */

/* #resultsAndAnalysis{
    color:#000000;
    font-variant:small-caps;
} */


h1, h2, h3, h4, h5, h6{
    color: lightgray;
    text-align: center;
}

.navTextColor {
    color:black
}

/* .navbar.navbar-dark {
    background-color: #9bcdff
} */

.navbar-brand {
    color:white;
    font-size:24;
    font-weight: bold;
    font-family:  "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

/* .w3-tangerine { */
    /* font-family: "Tangerine", serif; */
/* } */

/* code for popup */
/* Popup box BEGIN */
.hover_bkgr_fricc{
    background:rgba(0,0,0,.4);
    cursor:pointer;
    display:none;
    height:100%;
    position:fixed;
    text-align:center;
    top:0;
    width:100%;
    z-index:10000;
}
.hover_bkgr_fricc .helper{
    display:inline-block;
    height:100%;
    vertical-align:middle;
}
.hover_bkgr_fricc > div {
    background-color: #fff;
    box-shadow: 10px 10px 60px #555;
    display: inline-block;
    height: auto;
    max-width: 551px;
    min-height: 100px;
    vertical-align: middle;
    width: 60%;
    position: relative;
    border-radius: 8px;
    padding: 15px 5%;
}
.popupCloseButton {
    background-color: #fff;
    border: 3px solid #999;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    position: absolute;
    top: -20px;
    right: -20px;
    font-size: 25px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
}
.popupCloseButton:hover {
    background-color: #ccc;
}
.trigger_popup_fricc {
    cursor: pointer;
    font-size: 20px;
    color: white;
    display: inline-block;
    font-weight: bold;
}

/* Popup box BEGIN */

/* formatting a tags: https://www.w3schools.com/css/css_link.asp */
a:link {
    /* color: #0340DA; */ /* dark blue */
    /* color: #808080; */ /* gray */
    color: lightblue; /* light blue */
    text-decoration: none;
  }
  
  /* visited link */
  a:visited {
    /* color: #942AC1; */ /* purple link text after visiting page*/
    /* color: #0340DA; */
    color: lightblue;
    text-decoration: none;
  }
  
  /* mouse over link */
  a:hover {
    color: hotpink;
    text-decoration: underline;
  }
  
  /* selected link */
  a:active {
    color: red;
    text-decoration: none;
  }

i.icon-2x {
  font-size: 30px;
}

.color-light{
    color:#FFFFFF;
}

/*Colored Content Boxes
------------------------------------*/
.servive-block {
  padding: 20px 30px;
  text-align: center;
  margin-bottom: 20px;
}

.servive-block p,
.servive-block h2 {
  color: #fff;
}

.servive-block h2 a:hover{
  text-decoration: none;
}

.servive-block-light,
.servive-block-default {
  background: #fafafa;
  border: solid 1px #eee; 
}

.servive-block-default:hover {
  box-shadow: 0 0 8px #eee;
}

.servive-block-light p,
.servive-block-light h2,
.servive-block-default p,
.servive-block-default h2 {
  color: #555;
}

.servive-block-u {
  background: #72c02c;
}
.servive-block-blue {
  background: #3498db;
}
.servive-block-red {
  background: #e74c3c;
}
.servive-block-sea {
  background: #1abc9c;
}
.servive-block-grey {
  background: #95a5a6;
}
.servive-block-yellow {
  background: #f1c40f;
}
.servive-block-orange {
  background: #e67e22;
}
.servive-block-green {
  background: #2ecc71;
}
.servive-block-purple {
  background: #9b6bcc;
}
.servive-block-aqua {
  background: #27d7e7;
}
.servive-block-brown {
  background: #9c8061;
}
.servive-block-dark-blue {
  background: #4765a0;
}
.servive-block-light-green {
  background: #79d5b3;
}
.servive-block-dark {
  background: #555;
}
.servive-block-light {
  background: #ecf0f1;
}                 